.container1 {
  padding: 20px 100px 0 100px;
  background-color: #151515;
}

.container2 {
  padding: 20px 100px 0 100px;
  background-color: #242424;
}

.loadingScreen {
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots::after {
  content: "";
  animation: dots 1.5s infinite steps(4);
}

@keyframes dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .container1 {
    padding: 10px 30px 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .container1 {
    padding: 0px 10px 0 10px;
  }
  .container2 {
    padding: 0px 10px 0 10px;
  }
}
