.container {
  margin: 50px 0;
}

.container img[alt="rings"] {
  position: absolute;
  bottom: -10px;
  right: -352px;
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 50px 0 70px 0;
    gap: 35px;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .container hr {
    opacity: 1;
  }
}

/* Skills.module.css */
.spinner {
  border: 4px solid #f3f3f3; /* light grey */
  border-top: 4px solid orange; /* spinner color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto; /* center it */
}

.spinnerOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.tickerContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.tickerContent {
  display: flex;
  gap: 3rem;
  white-space: nowrap;
}

.skillItem {
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #60a5fa, #a78bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.line {
  margin-top: 30px;
  z-index: 1000;
  background-color: #d9d9d9;
  height: 1px;
  border: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
