.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 50px 0;
  gap: 35px;
  position: relative;
}

.container img[alt="rings"] {
  position: absolute;
  bottom: -10px;
  right: -352px;
}

.container hr {
  position: absolute;
  width: 100%;
  bottom: -30px;
  opacity: 0;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 50px 0;
    gap: 35px;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 50px 0 70px 0;
    gap: 35px;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .container hr {
    opacity: 1;
  }
}

/* Skills.module.css */
.spinner {
  border: 4px solid #f3f3f3; /* light grey */
  border-top: 4px solid orange; /* spinner color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto; /* center it */
}

.spinnerOverlay {
  position: absolute; /* positioned relative to container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* perfect center */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* make sure it sits above the grid */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
